<!DOCTYPE html>
<html>

    <head>
        <title> Marcel Fernandes de Mattos </title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        
        <link rel="stylesheet" type="text/css" href="./css/estilo.css">

    </head>

   
    <body>
        <center>
            <img src="./img/eu.jpeg" width="110" height="147">
            <br>
        </center>
        <center>
            <strong> Marcel Fernandes de Mattos </strong>
        </center>
        <br>
        <center>
            Solteiro - Brasileiro - 21 Anos
        </center>
        <br>
        <center>
            Rua Rio Branco, 78 - Piracicaba, SP
        </center>
        <br>
        <center>
            (19) 9999-9999
        </center>
        <br>
        <center>
            mattos.m@aluno.ifsp.edu.br
        </center>
        
        <ul>
            <li>
                <span class="topico">
                    Objetivo
                </span>
            <br>
                <p>
                    Iniciar carreira na área tecnológica utilizando os conhecimentos obtidos durante o período cursado na faculdade de Ciência da 
                    Computação e suas atividades paralelas.
                </p>
            </li>
        </ul>

        <hr/>

        <ul>
            <li>
                <span class="topico">
                    Formação Acadêmica
                </span>
            <br>
                    <p>
                    Curso: Bacharelado em Ciência da Computação
                </p>
                    <p>
                    Faculdade: Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP
                </p>
                    <p>
                    Previsão de Graduação: Final de 2022
                    </p>
            </li>
        </ul>

        <hr/>

        <ul>
            <li>
                <span class="topico">
                    Idiomas
                </span>
            <br>
                    <p>
                    Inglês: Fluente
                    </p>
                    <p>
                    Espanhol: Intermediário
                    </p>
                    <p>
                    Francês: Básico
                    </p>
            </li>
        </ul>

        <hr/>

        <ul>
            <li>
                <span class="topico">
                    Experiência na área
                </span>
            </li>
        <br>
            <ul>
                <li>
                    <strong>
                        <i>
                            <a href="https://www.instagram.com/saltobotz/"> Saltobotz - IFSP Salto</a>
                        </i>
                    </strong>
                </li>
                <ul>
                    <li>
                        Cargo: Capitão da modalidade Seguidor de linha e membro da equipe de Combate
                        <br>
                        Período: 2019 - Atualmente
                        <br>
                        Atribuição: Programador, montagem de sistemas elétricos e correção de erros.
                    </li>
                </ul>
            </ul>

            <ul>
                <li>
                    <strong>
                        <i>
                            <a href="https://slt.ifsp.edu.br/"> Pesquisa - IFSP Salto</a>
                        </i>
                    </strong>
                </li>
                <ul>
                    <li>
                        Cargo: Bolsista PIBIFSP
                        <br>
                        Período: 2020 - Atualmente
                        <br>
                        Atribuição: Pesquisa e programação na área de inteligência artificial sob orientação do Prof. Fabiano Gonzaga Fumes
                    </li>
                </ul>
            </ul>


        </ul>





    </body>


</html>


<!--AULA 02  36:54-->